<!DOCTYPE html>
<html>
    <head>
        <title>Angular Project 2</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
        <link rel="stylesheet" href="/app/styles/styles.css">
        <link rel="stylesheet" href="/app/styles/chyassa.css">
    </head>
    <body ng-app="attendance">
            
        <div ng-controller="mainCtrl">
        
            <password ng-if="!auth"></password>
            
            <nav-bar ng-if="auth"></nav-bar>
            
            <ripple-test ng-if="!auth" id="center"></ripple-test>
            
            
            
            
            
<!--            <div id="nav-bar">
            <span ui-sref="ripple" id="nav-bar">Ripple Test</span>
            
            </div>
            <div ui-view></div>
            -->
            
            
            
            
            
           
            <br>
            
        <div ng-show="!auth" ng-controller="chhassa as vm" layout="column" layout-margin style="padding:25px;" ng-cloak>

  
<md-progress-linear md-mode="indeterminate"></md-progress-linear>
  <md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear>

 
        </div>
        
      <div class="container" ng-class="{'visible' : !vm.activated}">
    <md-progress-linear md-mode="query" ng-disabled="!vm.showList[1]"></md-progress-linear>
    <div class="bottom-block">
      <span>Loading application libraries...</span>
    </div>
  </div>

  
        <hr ng-class="{'visible' : vm.activated}">

  <div id="loaders" layout="row" layout-align="start center">

    <p>Query and Buffer progress linear indicators: </p>

    <h5>Off</h5>
    <md-switch
        ng-model="vm.activated"
        ng-change="vm.toggleActivation()"
        aria-label="Enable Indicators">
      <h5>On</h5>
    </md-switch>
  </div>
</div>
        
        
         
        
        <!--Dependencies-->
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
        
        <script type="text/javascript" src="/node_modules/angular-aria/angular-aria.js">
        </script>
        
        <script type="text/javascript" src="/node_modules/angular-animate/angular-animate.js"></script>
        
        <script type="text/javascript" src="/node_modules/angular-material/angular-material.js"></script>
        <script type="text/javascript" src="/node_modules/angular-messages/angular-messages.js"></script>
         <script type="text/javascript" src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
        
        
        <!--Custom Javascripts-->
        
        <script type="text/javascript" src="/app/scripts/attendance.js"></script>
        <script type="text/javascript" src="/app/scripts/services/passwordService.js"></script>
        <script type="text/javascript" src="/app/scripts/services/studentService.js"></script>
         <script type="text/javascript" src="/app/scripts/services/attendanceService.js"></script>
          <script type="text/javascript" src="/app/scripts/services/classService.js"></script>
        
        
        <script type="text/javascript" src="/app/scripts/controllers/mainCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/rippleCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/personCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/passwordCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/studentCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/navCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/chhassa.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/attendanceCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/reportCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/classCtrl.js"></script>
        
        
        <script type="text/javascript" src="/app/scripts/directives/navBar.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/password.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/student.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/studentForm.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/studentList.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/studentAttendance.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/studentReport.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/rippleTest.js"></script>
    </body>
    
    
</html>