<div >
<ol class="nav-sample">
    
                <li ng-click="updateId(item.id)" ng-repeat="item in navList ">{{item.title}}</li>
      
      
      
            </ol>
    
        <student-form ng-if="checkid==1"></student-form>
        <student-list ng-if="checkid==2"></student-list>
        <student-attendance ng-if="checkid==3"></student-attendance>
        <student-report ng-if="checkid==4"></student-report>

<div>
        
  

</div>

</div>

 <div id="nav-bar">
     
    <span ui-sref="studentForm" >student form</span>
    <span ui-sref="studentList">student table</span>
     <span ui-sref="post">post</span>
    <span ui-sref="error">error</span>
    <span ui-sref="waterworld">waterworld</span>
    <span ui-sref="class">ClassDisplay button</span>
     
</div>
    


<div ui-view></div>