<div class="continer">
    <table class="table table-striped table-hover">
        
        <div class="row"> 
            <div class="col-md-2"> 
        <tr>
            <th> Student Name</th>
            <th> <md-datepicker ng-model="date" md-placeholder="Enter date" ></md-datepicker></th>
        
       
        </tr >
              </div>
            
            <div class="col-md-2">
            
            
             <tr ng-repeat="item in studentAttendance">   
            <td  >{{item.name}}</td>  
                
             <td  > <md-checkbox ng-model="item.status" value="{{item.name}}"></md-checkbox></td>  
                 
                 
                 <td  ><span ng-if="item.status">{{present}}</span> </td>   
                </tr>
    
    
     </div> 
    </div>
    </table>


</div>

<md-button class="md-raised md-primary" ng-click="submitAttendance()">Submit</md-button>

<div ng-repeat="(key, prop) in attendent">
    
        <div ng-repeat="(key2,val) in prop " style="display:'flex';direction:'column'">
            <div style="font-size:20px">{{key2 | date: "MMM/d/y"}}</div>
            <div ng-repeat="name in val" style="display:'flex';direction:'column'">
                <span>{{name.name}}</span>
            </div>
        </div>
<!--
        <ul ng-repeat="val in prop">
            {{val}}
            <ul ng-repeat="(o, values) in val">
            <li>{{o}}</li>
                 <ul ng-repeat="i in values">
                      <li>{{i}}</li>
                </ul>
             
            </ul>
        </ul>
-->
</div>
            
<!--<table  class="table table-hover" >
    <tr class="row" >
        <th >DATE </th>
        
        <th>Name </th>
        
    </tr >
     
        <tr  class="row" ng-repeat="dd in dateA track by $index">
            
        <td class="col-md-2" >{{dd | date:"EEE/MMM/dd/y"}}</td>
        <td  ng-repeat="student in attendent |filter:search track by $index" class="col-md-2" ng-model="student.status">{{student.name}}</td>
        
    </tr>



</table>-->