
<div class="tab-panels">
     <!--       <ul class="tabs">
                <li ng-click="switch(1)" class="active">Form</li>
                <li ng-click="switch(2)">Student List</li>
                <li ng-click="switch(3)">Attendance</li>
                <li ng-click="switch(4)">Report</li>
            </ul>-->

            <!--<div id="panel1" class="panel active">-->
               
                
                <student > </student>
                
                
                
  <!--              
            </div>-->
    
        </div>




<md-button ng-click="logout()">logout</md-button>

