
<div class="tab-panels">
            <ul class="tabs">
                <li ng-click="form()" class="active">Form</li>
                <li ng-click="studentList()">Student List</li>
                <li ng-click="attendance()">Attendance</li>
                <li ng-click="report()">Report</li>
            </ul>

            <div id="panel1" class="panel active">
               
                
                <student>        
                </student>
                
                
                
                
            </div>
    
        </div>




<md-button ng-click="logout()">logout</md-button>

